.container {
    // max-width: $normal-breakpoint;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;

    @include narrow {
        max-width: $mobile-breakpoint;
    }
    @include normal {
        max-width: $narrow-breakpoint;
    }
    @include wide {
        max-width: $normal-breakpoint;
    }
}
