.contact-methods {
  @include bg-opacity(#ffff, 0.1);
  width: calc(100% + 50px);
  height: 68px;
  border-radius: 10px;
  align-self: center;
  // bottom: 20px;
  display: none;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 35px;
  }

  .facebookLogo {
    width: 22px;
  }

  @include mobile {
    display: flex;
    position: fixed;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-bottom: 0 !important;
    @include bg-opacity(#0f1423, 1);
    z-index: 100;

    img {
      width: 30px;
    }

    .facebookLogo {
      width: 18px;
    }
  }
}
