.hero {
  background-color: grey;
  background-image: url('https://cdn.pixabay.com/photo/2014/01/04/12/34/street-238458_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

  @include mobile {
    height: 50vh;
  }

  @include narrow {
    height: 90vh;
  }

  @include normal {
    height: 75vh;
  }

  @include wide {
    height: 50vh;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    font-size: rem(20px);
    text-align: right;
    color: white;
    text-align: center;

    // @include for-normal-layout {
    //     text-align: right;
    // }
  }
}
